{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {#    {{ form_widget(form) }} #}3

    <label class="label-form" for="{{ form_label(form.name) }}">Nom</label>


    <button type="submit">Add category</button>
    {{ form_end(form) }}
{% endblock %}