@import "~bootstrap/scss/bootstrap";
$bg-primary:#FFEAD7;
$primary-darken:#4C3825;
.navbar {
  background-color: $bg-primary;
}
.btn {
  border:1px solid $primary-darken;
}
.label-form {
  font-size:64px;
}

