<nav class="navbar navbar-light sticky-top">
    <div class="container-fluid">
        <a href="/" class="nav-link active">Accueil</a>
        <a href="/category/">Category</a>
        <a href="/program/">Programs</a>


        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn" type="submit">Search</button>
        </form>
    </div>
</nav>